---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Email from "../icons/Email.astro";
---

<Layout>
  <main class="flex h-[100vh] bg-[url('/assets/bigHill.png')] bg-no-repeat bg-fixed bg-[center_top_16rem]">
    <div class="w-[1000px] flex text-center">
      <div class="m-14 bg-white w-[300px] h-fit rounded-3xl p-4 text-2xl z-20">
        <div class="flex items-center justify-between">
          <p>Hey!👋</p>
          <div class="flex">
            <a href="mailto:devon@artvuu.group" target="_blank">
              <Email />
            </a>
            <a href="https://github.com/dcrebbin" target="_blank">
              <Github />
            </a>
            <a href="https://www.linkedin.com/in/devoncrebbin/" target="_blank">
              <LinkedIn />
            </a>
          </div>
        </div><p>I'm Devon Crebbin</p><p class="text-sm">A developer, of sorts</p>
      </div>
      <img src="/assets/devon.png" class="w-auto h-[10rem] absolute left-72 top-48" />
    </div>
    <div class="w-full p-20 flex">
      <Projects />
    </div>
  </main>
</Layout>
