---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import PlayerScene from "../components/PlayerScene.astro";
---

<Layout>
  <main class="flex h-[100vh] w-[100vw] bg-[url('/assets/bigHill.png')] bg-no-repeat bg-cover bg-[center_top_18rem]">
    <img src="/assets/skyGradientPiece.png" alt="A piece of the skybox" class="w-full object-cover absolute top-0 z-10 opacity-40" />
    <img src="/assets/sun.png" alt="The Sun" class="w-auto left-[30%] object-cover absolute top-0 z-0" />
    <div class="grid" style={{gridTemplateColumns:"auto auto auto"}}>
      <PlayerScene />
      <div class="w-full p-20 flex z-[99] h-[100vh]">
        <Projects />
      </div>
    </div>
  </main>
</Layout>
