---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import PlayerScene from "../components/PlayerScene";
---

<Layout>
  <main class="flex lg:h-full h-max w-[100vw] relative bg-[url('/assets/bigHill.png')] bg-no-repeat bg-[center_top_18rem] lg:overflow-hidden overflow-y-auto">
    <div id="bounds" class="w-full h-[15rem] lg:w-[26rem] xl:w-[36rem]  lg:h-full absolute top-44 z-40 self-center"></div>
    <img src="/assets/skyGradientPiece.png" alt="A piece of the skybox" class="absolute lg:top-20 top-8 z-10 opacity-40" />
    <img src="/assets/sun.png" alt="The Sun" class="w-auto lg:left-[30%] object-cover absolute z-0 lg:scale-100 scale-50" />
    <div class="grid min-w-full lg:grid-flow-col">
      <PlayerScene client:load  />
      <div class="w-full flex z-[99] justify-center px-4 xl:px-28 lg:px-16 md:px-8">
        <Projects />
      </div>
    </div>
  </main>
</Layout>
