---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/ProjectList.astro";
import PlayerScene from "../components/PlayerScene";
import InfoModal from "../components/InfoModal.astro";
import Sun from "../components/Sun";
import Sky from "../components/Sky";
import Loading from "../components/Loading.astro";

const dayDuration = 100;
---

<Layout>
  <main class="flex lg:h-full h-max w-[100vw] z-[20] relative bg-[#0ce7ff] overflow-hidden">
    <Sun dayDuration={dayDuration} client:load />
    <Sky dayDuration={dayDuration} client:load />
    <div class="bg-[url('/assets/bigHill.png')] bg-cover z-[5] bg-no-repeat h-full w-full absolute bottom-0"></div>
    <div class="bg-[url('/assets/smallHill-1.png')] bg-no-repeat bg-[left_-10rem_top_13rem] h-full w-full absolute z-[4]"></div>
    <div class="bg-[url('/assets/smallHill-2.png')] bg-no-repeat bg-[center_top_13rem] h-full w-full absolute z-[4]"></div>
    <div class="bg-[url('/assets/smallHill-3.png')] bg-no-repeat bg-[right_-10rem_top_9rem] h-full w-full absolute z-[4]"></div>
    <img src="/assets/skyGradientPiece.png" alt="A piece of the skybox" class="absolute lg:top-10 top-8 opacity-40 z-0" />
    <PlayerScene client:load />
    <div class="grid lg:grid-flow-col z-[100] h-fit">
      <div class="2xl:w-[40rem] xl:w-[30rem] lg:w-[25rem] w-full relative z-50">
        <div id="bounds" class="w-full absolute lg:top-[6rem] xl:top-[15rem] top-[32rem] h-[35vh] lg:h-[80vh] bottom-0 z-20 left-0 self-center"></div>
        <InfoModal />
      </div>
      <div class="px-4 md:px-20 lg:px-10 2xl:px-24 w-full flex z-[100] justify-center">
        <Projects />
      </div>
    </div>
  </main>
</Layout>
