---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Email from "../icons/Email.astro";
---

<Layout>
  <main class="flex h-[100vh] bg-[url('/assets/bigHill.png')] bg-no-repeat bg-fixed bg-[center_top_18rem]">
    <img src="/assets/skyGradientPiece.png" alt="A piece of the skybox" class="w-full object-cover absolute top-0 z-10 opacity-40" />
    <img src="/assets/sun.png" alt="The Sun" class="w-auto left-[30%] object-cover absolute top-0 z-0" />
    <div class="w-[1000px] flex text-center">
      <div class="m-14 bg-white w-[300px] h-fit rounded-3xl p-4 text-2xl z-20">
        <div class="flex items-center justify-between">
          <p>Hey!👋</p>
          <div class="flex">
            <a href="mailto:devon@artvuu.group" target="_blank">
              <Email />
            </a>
            <a href="https://github.com/dcrebbin" target="_blank">
              <Github />
            </a>
            <a href="https://www.linkedin.com/in/devoncrebbin/" target="_blank">
              <LinkedIn />
            </a>
          </div>
        </div><p>I'm Devon Crebbin</p><p class="text-sm">A developer, of sorts</p>
      </div>
      <div id="player">
        <img src="/assets/devon.png" alt="Devon Crebbin" class="w-auto h-[10rem] absolute left-72 top-48 z-40" />
        <div class="w-[3rem] h-[1.5rem] bg-black/30 rounded-full blur-sm absolute left-[20.7rem] top-[20.9rem] z-30"></div>
      </div>
    </div>
    <div class="w-full p-20 flex z-[99]">
      <Projects />
    </div>
  </main>
</Layout>
