---
import Github from "../icons/Github";
import LinkedIn from "../icons/LinkedIn";
import Email from "../icons/Email";
import Info from "../icons/Info";
---

<div class="m-14 bg-white w-64 h-fit rounded-l-3xl rounded-tr-3xl p-4 text-2xl z-[100]">
  <div class="flex items-center justify-between">
    <div class="flex">
      <p>Hey!</p>
      <button class="hover:-translate-y-2 cursor-pointer">👋</button>
    </div>
    <div class="flex">
      <button id="info" class="hover:-translate-y-[2px]">
        <Info />
      </button>
      <a href="mailto:devon@artvuu.group" class="hover:-translate-y-[2px]" target="_blank">
        <Email />
      </a>
      <a href="https://github.com/dcrebbin" class="hover:-translate-y-[2px]" target="_blank">
        <Github />
      </a>
      <a href="https://www.linkedin.com/in/devoncrebbin/" class="hover:-translate-y-[2px]" target="_blank">
        <LinkedIn />
      </a>
    </div>
  </div>
  <p>I'm Devon Crebbin</p>
  <p class="text-sm">Indigenous Software Developer & Designer</p>
</div>
