---
import { lightboxImage } from "../store";
---

<astro-lightbox>
  <div style={{ display: "none" }} id="light-box" class="fixed z-[999] w-full h-full flex items-center justify-center drop-shadow-lg">
    <div id="light-box-image" class="relative">
      <img class="w-96 h-auto scale-[2] md:scale-[2.5] lg:scale-[3] xl:scale-[4] pointer-events-none select-none" src={lightboxImage.value} id="image" />
    </div>
  </div>
</astro-lightbox>
<script>
  import { lightboxImage, isLightboxOpen } from "../store";

  class AstroLightbox extends HTMLElement {
    constructor() {
      super();
      const image = this.querySelector("#light-box-image")?.childNodes[1] as HTMLImageElement | null;
      const lightbox = this.querySelector("#light-box") as HTMLDivElement | null;
      const zoomOut = document.getElementById("zoom-out") as HTMLDivElement | null;
      const homePage = document.getElementById("home-page") as HTMLDivElement | null;
      let isDragging = false;

      const state = {
        x: 0,
        y: 0,
      };

      isLightboxOpen.subscribe((isOpen) => {
        lightbox!.style.display = isOpen ? "flex" : "none";
        zoomOut!.style.display = isOpen ? "block" : "none";
        homePage!.style.filter = isOpen ? "brightness(0.2)" : "none";
        if (!isOpen) {
          lightbox!.style.left = "0";
          lightbox!.style.top = "0";
        }
      });

      lightboxImage.subscribe((src) => {
        console.log(src);
        image!.src = src;
      });

      // mobile drag
      lightbox?.addEventListener("touchstart", (e) => {
        isDragging = true;
        state.x = e.touches[0].clientX - lightbox.offsetLeft;
        state.y = e.touches[0].clientY - lightbox.offsetTop;
      });

      document.addEventListener("touchmove", (e) => {
        if (!isDragging) return;
        lightbox!.style.left = e.touches[0].clientX - state.x + "px";
        lightbox!.style.top = e.touches[0].clientY - state.y + "px";
      });

      document.addEventListener("touchend", () => {
        isDragging = false;
      });

      lightbox?.addEventListener("mousedown", (e) => {
        isDragging = true;
        state.x = e.clientX - lightbox.offsetLeft;
        state.y = e.clientY - lightbox.offsetTop;
      });

      document.addEventListener("mousemove", (e) => {
        if (!isDragging) return;
        lightbox!.style.left = e.clientX - state.x + "px";
        lightbox!.style.top = e.clientY - state.y + "px";
      });

      document.addEventListener("mouseup", () => {
        isDragging = false;
      });

      image?.addEventListener("wheel", (e) => {
        e.preventDefault();
        const scale = e.deltaY > 0 ? 1 : 2;
        image.style.transform = `scale(${scale})`;
      });
    }
  }

  customElements.define("astro-lightbox", AstroLightbox);
</script>
