<astro-lightbox>
  <div id="light-box" class="absolute z-[999] w-full h-full flex items-center justify-center drop-shadow-lg">
    <div id="light-box-image" class="relative">
      <img class="w-96 h-auto scale-[3] pointer-events-none select-none" src="/projects/web-apps/ourland.png" id="image" />
    </div>
  </div>
</astro-lightbox>
<script>
  import { lightboxImage } from "../store";

  class AstroLightbox extends HTMLElement {
    constructor() {
      super();
      const image = this.querySelector("#light-box-image")?.childNodes[1] as HTMLImageElement | null;
      const lightbox = this.querySelector("#light-box") as HTMLDivElement | null;

      let isDragging = false;

      const state = {
        x: 0,
        y: 0,
      };

      lightboxImage.subscribe((src) => {
        console.log(src);
        image!.src = src;
      });

      lightbox?.addEventListener("mousedown", (e) => {
        isDragging = true;
        state.x = e.clientX - lightbox.offsetLeft;
        state.y = e.clientY - lightbox.offsetTop;
      });

      document.addEventListener("mousemove", (e) => {
        if (!isDragging) return;
        lightbox!.style.left = e.clientX - state.x + "px";
        lightbox!.style.top = e.clientY - state.y + "px";
      });

      document.addEventListener("mouseup", () => {
        isDragging = false;
      });

      image?.addEventListener("wheel", (e) => {
        e.preventDefault();
        const scale = e.deltaY > 0 ? 1 : 2;
        image.style.transform = `scale(${scale})`;
      });
    }
  }

  customElements.define("astro-lightbox", AstroLightbox);
</script>
