---
import InfoModal from "./InfoModal.astro";
---

<div class=" flex text-center">
  <InfoModal />
  <div id="player">
    <img src="/assets/devon.png" alt="Devon Crebbin" class="w-auto h-[10rem] absolute left-72 top-48 z-40" />
    <div class="w-[3rem] h-[1.5rem] bg-black/30 rounded-full blur-sm absolute left-[20.7rem] top-[20.9rem] z-30"></div>
  </div>
</div>
