---
import { PROJECTS } from "../constants";
import Project from "./Project.astro";
import Timeline from "./Timeline.astro";
---

<div class="w-full flex flex-row gap-4 justify-start">
  <Timeline />
  <div class="p-4 flex flex-col overflow-y-scroll items-center">
    {
      PROJECTS.map((project: any, index: number) => {
        return <Project index={index} project={project} />;
      })
    }
  </div>
</div>
