---
const years = [{ id: "2024" }, { id: "2023" }, { id: "2022" }, { id: "2021" }, { id: "2020" }, { id: "2019" }, { id: "2018" }, { id: "2017" }, { id: "2016..." }];
---

<div class="flex flex-col w-8 items-center" id="timeline">
  {
    years.map(({ id }) => (
      <>
        <a id={`${id}Link`} href={`#${id}`} class="hover:underline">
          {id}
        </a>
        {id !== years[years.length - 1].id ? <div class="border-l-2 h-full border-black" /> : null}
      </>
    ))
  }
</div>
