<div class="flex flex-col w-8 items-center">
  <a href="#2024" class="hover:underline">2024</a>
  <div class="border-l-2 h-full border-black"></div>
  <a href="#2023" class="hover:underline">2023</a>
  <div class="border-l-2 h-full border-black"></div>
  <a href="#2022" class="hover:underline">2022</a>
  <div class="border-l-2 h-full border-black"></div>
  <a href="#2021" class="hover:underline">2021</a>
  <div class="border-l-2 h-full border-black"></div>
  <a href="#2020" class="hover:underline">2020</a>
  <div class="border-l-2 h-full border-black"></div>
  <a href="#2019" class="hover:underline">2019</a>
  <div class="border-l-2 h-full border-black"></div>
  <a href="#2018" class="hover:underline"> 2018</a>
  <div class="border-l-2 h-full border-black"></div>
  <a href="#2017" class="hover:underline">2017</a>
  <div class="border-l-2 h-full border-black"></div>
  <a href="#2016..." class="hover:underline">2016...</a>
</div>
