---
import Sun from "../components/Sun";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio for Devon Crebbin" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Devon's Portfolio</title>
    <link rel="stylesheet" href="/_astro/src/global.css" />
    <style>
      @font-face {
        font-family: "Socake";
        src: url("/fonts/socake.ttf");
      }
    </style>
  </head>
  <!-- <div class="text-xs text-center fixed backdrop-blur-sm p-3 flex flex-col font-bold gap-1 w-full text-white">
    <p>I acknowledge the Traditional Owners of the land on which I live and work. I pay my respects to Elders past, present.</p>
    <p>Sovereignty never ceded 🖤💛❤️</p>
  </div> -->
  <div class="w-full h-6 flex text-center absolute justify-center p-2">Site in development</div>
  <body>
    <Sun client:load />

    <slot />
  </body>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
    }
    html {
      font-family: "Socake";
      background: #0ce7ff;
    }
    body {
      height: 100vh;
    }
  </style>


</html>
