---
import Lightbox from "../components/utility/Lightbox.astro";
import Github from "../icons/Github";
import ZoomOut from "../icons/ZoomOut";
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
---

<!doctype html>
<html lang={i18next.language} class="overflow-hidden overflow-y-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio for Devon Crebbin" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{t("title")}</title>
    <script defer data-domain="dcrebb.in" src="https://plausible.io/js/script.js"></script>
    <link rel="stylesheet" href="/_astro/src/global.css" />
    <style>
      @font-face {
        font-family: "Socake";
        src: url("/fonts/socake.ttf");
      }
      @font-face {
        font-family: "Roboto";
        src: url("/fonts/Roboto-Regular.ttf");
      }
    </style>
    <HeadHrefLangs />
  </head>
  <div class="text-md fixed text-center p-1 flex flex-col justify-center items-center gap-1 w-full text-black bottom-0 z-30">
    <p>🖤💛❤️</p>
  </div>
  <div class="absolute w-full flex flex-col top-0">
    <div class="w-full h-6 flex text-center justify-center mb-1 z-[100] text-black pb-2">Site in development</div>
    <div class="w-full h-6 flex items-center justify-center p-2 z-[100] text-black"><p>Use this site!</p><a class="hover:-translate-y-[3px] -translate-y-[2px] hover:cursor-pointer" href={"https://github.com/dcrebbin/modern-gamified-portfolio"} target="_blank"><Github /></a></div>
  </div>
  <body>
    <button style={{ display: "none" }} id="zoom-out" class="z-[2999] text-white fixed bottom-0 right-0 m-8 bg-black/90 p-2 rounded-md">
      <ZoomOut />
    </button>
    <Lightbox />
    <div style={{ display: "none" }} id="back-drop" class="bg-black/90 w-full h-full fixed z-[99]"></div>
    <slot />
  </body>

  <style is:global>
    html {
      font-family: "Socake", "Roboto", sans-serif;
    }
    body {
      height: 100vh;
    }
  </style>

  <script>
    import { isLightboxOpen } from "../store";

    const zoomOut = document.getElementById("zoom-out");
    zoomOut!.addEventListener("click", () => {
      isLightboxOpen.set(false);
    });
  </script>
</html>
